.styled_box {
	padding: 15px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
}

.no_top_margin {
	margin-top: 0 !important;
}

.bold {
	font-weight: 700;
}

.no_bold {
	font-weight: 400;
}

.login_field {
	margin: 15px 0;
}

.sr_field {
	margin-bottom: 15px;
}

.vr_field {
	margin-bottom: 25px;
}

#main {
	max-width: 80%;
	margin: 10px auto;
}

#login_container > * {
	vertical-align: middle;
}

#login_space {
	width: 10%;
	display: inline-block;
}

#login_login {
	width: 35%;
	display: inline-block;
	text-align: center;
}

#login_register {
	width: 35%;
	display: inline-block;
	text-align: center;
}

#sr_time_min {
	margin-left: 10px;
}

#sr_description {
	max-width: 100%;
}

#vr_image {
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 100%;
}