.styled_box {
	padding: 10px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
}

.no_top_margin {
	margin-top: 0 !important;
}

.field {
	margin: 10px 0;
}

#main {
	max-width: 80%;
	margin: 10px auto;
}

#login_container > * {
	vertical-align: middle;
}

#login_space {
	width: 4%;
	display: inline-block;
}

#login_login {
	width: 44%;
	display: inline-block;
	text-align: center;
}

#login_register {
	width: 44%;
	display: inline-block;
	text-align: center;
}